
*.pyc

oect.egg-info/

oect/notebooks/.ipynb_checkpoints/

docs/_build/html/

docs/_build/doctrees/

*.tif

.idea/

venv/

build/lib/oect_processing/__init__.py

build/lib/oect_processing/model_fitting.py

build/lib/oect_processing/nonoect_utils/__init__.py

build/lib/oect_processing/nonoect_utils/cv.py

build/lib/oect_processing/nonoect_utils/eis.py

build/lib/oect_processing/oect_app.py

build/lib/oect_processing/oect_device.py

build/lib/oect_processing/oect_utils/__init__.py

build/lib/oect_processing/oect_utils/config.py

build/lib/oect_processing/oect_utils/deriv.py

build/lib/oect_processing/oect_utils/oect_load.py

build/lib/oect_processing/oect_utils/oect_plot.py

build/lib/oect_processing/oect.py

build/lib/oect_processing/specechem/__init__.py

build/lib/oect_processing/specechem/read_files.py

build/lib/oect_processing/specechem/uvvis_h5.py

build/lib/oect_processing/specechem/uvvis_plot.py

build/lib/oect_processing/specechem/uvvis.py

build/lib/oect_processing/transient.py

dist/oect-0.0.1-py3.8.egg
